<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/49f2d8b763.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <style>
        body{
        background-color: rgb(40,40,50);
        }
        *{
                margin-top:20px;
}
    .content{
        background-color: rgba(200,200,200,0.5);
        padding: 30px;
        border-radius: 20px;
        width: 50%;
        margin: auto;
    }
    button{
        padding: 10px;
    }
    </style>
    <title>Sign Up</title>
</head>
<div class="content">
<h1>Sign Up</h1>
    <h5>or if you already have an account <a href="{% url 'login' %}">Login</a></h5>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
    </div>
